body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #142d2d;
  color: #e3e2e2;
  text-align: center;
  padding: 20px 0;
}
.info p{
  height: 8rem;
  margin-right: 3rem;
}

.description {
  background-color: #1c4141;
  padding: 50px 0;
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.image {
  flex: 1;
  text-align: center;
  width: 4rem;
  

}

.image img {
  width: 200px;
  margin-top: -30px;
  border-radius: 50%;
}



.info {
  flex: 2;
}


.projects {
  padding: 50px 0;
  margin: 0.5rem;
background-color: #135e5e;
color: white;
}

.project {
  margin-bottom: 30px;
}

.project h3 {
  margin-bottom: 10px;
}

.project p {
  margin-bottom: 0;
}
